<!DOCTYPE html>
<html>
<meta charset="utf8">
<head>
    <base href="/">
    <title>springboot-jwt-starter</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="myApp">


<div class="container-fluid" ng-controller="NavigationCtrl" ng-cloak>
    <div id="cube-loader">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <ul style="margin-bottom: 20px;" class="nav nav-pills" role="tablist" ng-show="authenticated">
        <!--<li ng-class="tabClass('/')"><a href="#/" ng-click="setSelectedTab('/')">Home</a></li>
        <li ng-class="tabClass('/login')" ng-hide="authenticated"><a href="#/login" ng-click="setSelectedTab('/login')">Login</a></li>
        <li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>-->

    </ul>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Внимание</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-view>

    </div>
</div>
<script src="webjars/jquery/2.1.1/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="webjars/angularjs/1.5.8/angular.js"></script>
<script src="webjars/angular-route/1.5.9/angular-route.js"></script>

<script src="app.js"></script>
<script src="dashboard/dashboard.js"></script>
<script src="client/client.js"></script>
<script src="login/login.js"></script>
<script src="services/auth.js"></script>
<script src="cabinet/cabinet.js"></script>
<script src="products/products.js"></script>
<script src="purchase/purchase.js"></script>
<script src="distributor/distributor.js"></script>
</body>

</html>
