<div class="container-fluid">
    <div class="product-purchase-container">

        <h5><a ng-click="toProducts()" onclick="return false;" href="#">Назад к продукты</a></h5>

        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-4">
                    <div class="picture-container">
                        <img ng-src="{{productData.image}}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading"><h3><b>{{productData.detail}}</b></h3>
                        </div>
                        <div class="panel-body">
                            1. Проверьте условия подключения<br>
                            Вы подключаете {{productData.detail}}<br>
                            <br>
                            <div ng-if="productData.isfree">
                                Стоимость подписки составит <b>{{productData.cost}} тенге </b><br>
                            </div>
                            После подключения подписки Вы получите доступ к
                            установочному файлу, и подписка станет активной.
                            <br>
                            <br>
                            2.Укажите допольнительную информацию
                            <br>
                            <label for="email">Введите ваш email:</label>
                            <input id="email" type="email" ng-model="clientEmail" name="email"/>
                            <label><span id="email-error-message" style="color:red;display: none;"></span></label>
                            <p>
                                <label>
                                    <input type="checkbox" id="confirm-purchase-agree" value="">
                                    Я принимаю условия
                                </label>
                                <label><span id="confirm-purchase-agree-message" style="color:red;display: none;">Необходимо принять пользовательское соглашение</span></label>
                            </p>

                            <br>
                            <button type="button" ng-click="onPurchase()" class="btn btn-primary">Подключить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>